.workouts-heading {
    text-align: center;
    padding-top: 2em;
}

figure.media img {
    display: block;
    width: 280px;
    height: 280px;
    object-fit: cover;
}

.container.workouts-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    margin: 4em auto;
}

.container.workouts-page a {
    text-decoration: none;
    max-width: 50%;
}

article .inner {
    flex-grow: 1;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 2em;
    gap: 2em;
    border-radius: 2em;
    box-shadow: -0.2em 0.2em 0.5em 0 rgba(0,0,0,0.05);
    max-width: 100%;
}

article .media {
    overflow: hidden;
    flex: 0 0 35%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 50%;
    background: #090;
    border: 5px solid #fff;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
}

article .desc {
color: #9e9f9f;
padding-bottom: 2em;
}

article .author {
    font-weight: bold;
    font-size: 1.6em;
}

article .content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}