.footer-flex-cont {
    justify-content: space-around;
}

#footer-logo-img {
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.bx-md {
    font-size: 3.6rem !important;
}

/* .footer-paragraph {
    font-size: 1.5rem;
} */