.banner-img {
    max-width: 100%;
    max-height: auto;
}

#index_banner h1 {
    color: rgb(61, 18, 102);
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem;
    padding-bottom: 0;
    line-height: 1.5;
    background-image: linear-gradient(to bottom, #7b2682, #6fb74d);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#index_banner.pt-5 {
    padding-top: 8rem !important;
}

#index_banner .group-workouts {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: #ffffff;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-group-img {
    border-radius: 2rem;
    width: 50%;
}

.banner-group-img2 {
    border-radius: 2.5rem;
    padding: 1rem;
    width: 40%;
}