.banner-img {
    max-width: 100%;
    max-height: auto;
}

#index_banner h1 {
    color: rgb(61, 18, 102);
    text-align: center;
    font-size: 4rem;
    padding: 2rem;
    line-height: 1.5;
}

#index_banner .group-workouts {
    display: flex;
    align-items: center;
    border-radius: 2rem;
}

.banner-group-img {
    width: 70%;
    border-radius: 2rem;
}